{{ $address := .Site.Params.address}}
<section class="contact" id="contact">
  <div class="container-fulid">
    <div class="row no-gutters">
      <div class="col-lg-6">
        {{ $map := .Site.Params.map }}
          <iframe width="425" height="350" src="https://www.openstreetmap.org/export/embed.html?bbox={{ $map.longitude }}%2C{{ $map.latitude }}%2C{{ $map.longitude }}%2C{{ $map.latitude }}&amp;layer=mapnik&amp;marker={{ $map.latitude }}%2C{{ $map.longitude }}" style="border: 1px solid black">
          </iframe>
          <br/>
          <small><a href="https://www.openstreetmap.org/?mlat={{ $map.latitude }}&amp;mlon={{ $map.longitude }}#map=19/{{ $map.latitude }}/{{ $map.longitude }}">Gruttere kaart besjen</a></small>
      </div>
      <div class="col-lg-6">
        <div class="contact-aria">
          <h3>
            {{ $address.address | safeHTML }}
          </h3>
          <ul>
            <li> <a href="mailto:{{ $address.email }}">{{ $address.email }}</a></li>
            <li><a href="tel:{{ $address.phone}}">{{ $address.phone }}</a></li>
          </ul>
          <p>
            {{ $address.openingDesc | safeHTML}}
          </p>
          <p>{{ $address.openingHours | safeHTML}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
